@charset "UTF-8";
body {
    background-color: #fffeee;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(pict/W_05.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(255, 255, 255, 0.75);
    background-blend-mode: lighten;
}

html {
    font-size: 100%;
}
h1 {
    color: #0bd;
    font-size: 2rem;
    font-family: serif;
}

h2 {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: 2px solid #0bd;
}

p {
    font-family: 'Hachi Maru Pop', cursive;
    line-height: 1.7;
    text-align: justify;
    width: 80%;
    height: 90%;
    margin: 0 5px 5px 0;
    padding: 10px 0 0 10px;
}
