@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)); */
    background-image: linear-gradient(rgba(0, 0, 255, 0.65), rgba(255, 255, 0, 0.35)), url(pict/W_05.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(255, 255, 255, 0.75);
    background-blend-mode: lighten;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ヘッダー部 */
.header {
    font-family: 'Hachi Maru Pop', cursive;
    color: #8490c8;
}

.page_header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.main_nav {
    display: flex;
    font-size: 0.75
    rem;
    text-transform: uppercase;
    margin-top: 32px;
    list-style: none;
}

.main_nav li {
    margin-left: 16px;
}

.main_nav a {
    color: #432;
}

.main_nav a:hover {
    color: #0bd;
}

.main_nav .icon {
    width: 32px;
}

/* メイン部 */
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

article {
    width: 74%;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-title {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin-left: 120px;
}

.post-date {
    background: #0bd;
    border-radius: 50%; /* 円設定 */
    color: #fff;
    width: 90px;
    height: 80px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute; /* 絶対位置指定 */
    top: 0;
    padding-top: 2px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.main_title {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: 2px solid #0bd;
}

.main_story {
    font-family: 'Sawarabi Gothic', sans-serif;
    line-height: 1.7;
    text-align: justify;
} 

/* サイドバー部 */
aside {
    width: 33%;
}

.sub_title {
    font-size: 1.15rem;
    padding: 0 2px 2px;
    border-bottom: 2px #8490c8 solid;
    font-weight: normal;
}

.sub_menu {
    /* margin-bottom: 10px; */
    list-style: none;
}

.sub_menu li {
    border-bottom: 1px #844221 solid;
}

.sub_menu a {
    color: #432;
    /* padding: 10px; */
    display: block;
}

.sub_menu a:hover{
    color: #0bd;
}

.twitter-timeline {
    margin-left: 30px;
}

.amazon {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

/* フッター部 */
footer {
    /* background: #432; */
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #0bd;
    font-size: 0.875rem;
}


/* モバイル画面 */
@media (max-width: 600px) {
    .news-contents {
        flex-direction: column;
    }

    article, aside {
        width: 100%;
    }
}
