@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(pict/W_05.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(255, 255, 255, 0.75);
    background-blend-mode: lighten;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ヘッダー部 */
.header {
    font-family: 'Hachi Maru Pop', cursive;
    color: #8490c8;
}

.page_header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.main_nav {
    display: flex;
    font-size: 0.75
    rem;
    text-transform: uppercase;
    margin-top: 32px;
    list-style: none;
}

.main_nav li {
    margin-left: 16px;
}

.main_nav a {
    color: #432;
}

.main_nav a:hover {
    color: #0bd;
}

.main_nav .icon {
    width: 32px;
}

/* メイン部 */
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

article {
    width: 74%;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-title {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin-left: 120px;
}

.post-date {
    background: #0bd;
    border-radius: 50%; /* 円設定 */
    color: #fff;
    width: 90px;
    height: 80px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute; /* 絶対位置指定 */
    top: 0;
    padding-top: 2px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

/* article h1 {
    color: #0bd;
    font-size: 2rem;
    font-family: serif;
}

article h2 {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: 2px solid #0bd;
}

article p {
    font-family: 'Sawarabi Gothic', sans-serif;
    line-height: 1.7;
    text-align: justify;
    width: 80%;
    height: 90%;
    margin: 0 5px 5px 0;
    padding: 10px 0 0 10px;
} */

/* サイドバー部 */
aside {
    width: 22%;
}

/* フッター部 */
footer {
    /* background: #432; */
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #0bd;
    font-size: 0.875rem;
}
